.background-black {
  background: var(--black) !important;
}

.background-blue {
  background: var(--blue) !important;
}

.background-gray {
  background: var(--gray) !important;
}

.background-green {
  background: var(--green) !important;
}

.background-orange {
  background: var(--orange) !important;
}

.background-red {
  background: var(--red) !important;
}

.background-white {
  background: var(--white) !important;
}
