.text-align-center {
  text-align: center !important;
}

.text-bold {
  font-weight: bold !important;
}

.text-italic {
  font-style: italic !important;
}

// Colors

.text-black {
  color: var(--black) !important;
}

.text-blue {
  color: var(--blue) !important;
}

.text-gray {
  color: var(--gray) !important;
}

.text-green {
  color: var(--green) !important;
}

.text-orange {
  color: var(--orange) !important;
}

.text-red {
  color: var(--red) !important;
}

.text-white {
  color: var(--white) !important;
}
